@tailwind base;

::selection {
  @apply bg-primary bg-opacity-20 ;
}

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
  }

  * {
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    @apply font-medium;
  }

  a,
  button {
    @apply focus:outline-none focus:ring-2 focus:ring-dark focus:ring-offset-2;
  }

  h1,
  h2,
  h3,
  h4, h5 {
    @apply font-semibold text-dark;
    font-family: 'DM Serif Display', serif;
  }

  em {
    @apply text-dark font-normal italic;
    font-family: 'DM Serif Display', serif;
  }


  .text-display {
    @apply text-[65px];
  }

  h1 {
    @apply text-[50px];
  }

  h2 {
    @apply text-[35px];
  }

  h3 {
    @apply text-[25px];
  }

  h4 {
    @apply text-[22px];
  }

  h5 {
    @apply text-[20px];
  }

  h6 {
    @apply text-[18px];
  }

  .btn-sm {
    @apply inline-flex items-center rounded border border-transparent bg-dark px-2.5 py-1.5 text-sm font-medium text-white shadow-sm hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2;
  }
  .btn-md {
    @apply inline-flex items-center rounded border border-transparent bg-dark px-2.5 py-1.5 text-base font-medium text-white shadow-sm hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2;
  }
  .btn-lg {
    @apply inline-flex items-center rounded border border-transparent bg-dark px-2.5 py-1.5 text-xl font-medium text-white shadow-sm hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2;
  }
}

@tailwind components;
@tailwind utilities;


.quote-card {
  @apply relative py-[2rem] mx-auto;
}

.quote-card::before {
  content: "";
  border: 25px solid #F4F0EC;
border-radius: 70px;
  @apply w-full max-w-4xl  absolute h-full -z-20;
  
}


.quote-card::after {
  content: "";
  @apply w-full max-w-xs bg-white h-full  absolute -z-10;
}
